/dts-v1/;
/plugin/;

/ {
    compatible = "ti,beaglebone", "ti,beaglebone-black";
    part-number = "ZOLA-LCD-ILI9488-ADS7846";
    version = "00A1";

    /* Fragment 0: Release J31 pins from legacy OCP/Helper ownership */
    fragment@0 {
        target = <&ocp>;
        __overlay__ {
            P9_31_pinmux { status = "disabled"; }; /* Ball A13: SPI1_SCLK */
            P9_29_pinmux { status = "disabled"; }; /* Ball B13: SPI1_D0 */
            P9_30_pinmux { status = "disabled"; }; /* Ball D12: SPI1_D1 */
            P9_28_pinmux { status = "disabled"; }; /* Ball C13: TP_CS */
            P9_92_pinmux { status = "disabled"; }; /* Ball B12: TFT_CS */
            P8_39_pinmux { status = "disabled"; }; /* free LCD_DATA6 */
            P9_91_pinmux { status = "disabled"; }; /* LCD_LED */
            P8_40_pinmux { status = "disabled"; }; /* LCD_DATA7 / TP_IRQ */
            P9_27_pinmux { status = "disabled"; };
            cape-universal { status = "disabled"; };
        };
    };

    /* Fragment 1: Pinmux: Separate SPI and GPIO Pins */
    fragment@1 {
        target = <&am33xx_pinmux>;
        __overlay__ {
            /* Only SPI1 master pins (SCLK, MISO, MOSI) */
            zola_spi1_pins: pinmux_zola_spi1_pins {
                pinctrl-single,pins = <
                    0x190 0x33   /* MCASP0_ACLKX  -> SPI1_SCLK */
                    0x194 0x33   /* MCASP0_FSX    -> SPI1_MOSI */
                    0x198 0x13   /* MCASP0_AXR0   -> SPI1_MISO */
                    0x1a0 0x07   /* MCASP0_ACLKR  -> SPI1_CS0 (LCD) */
                    0x1a4 0x07   /* MCASP0_FSR    -> SPI1_CS1 (Touch) */
                >;
            };

            /* ---------- LCD GPIO pins (GPMC_Ax / LCD_DATAx) ---------- */
            zola_lcd_gpio_pins: pinmux_zola_lcd_gpio_pins {
                pinctrl-single,pins = <
                    0x0B8 0x07   /* LCD_DATA6 / GPMC_A6 -> GPIO2_12 (TFT_RS) */
                    0x17C 0x07   /* UART1_RTSN → GPIO0_13 (TFT_RST) */
                    0x1A8 0x07   /* MCASP0_AXR1 conf_mcasp0_axr1 → GPIO3_20 (LCD_LED)  */
                >;
            };

            /* ---------- Touch IRQ pin ---------- */
            zola_touch_gpio_pins: pinmux_zola_touch_gpio_pins {
                pinctrl-single,pins = <
                    0x0BC 0x27   /* LCD_DATA7 / GPMC_A7 -> GPIO2_13 (TP_IRQ, pull-up) */
                >;
            };
        };
    };

    /* Fragment 2: Backlight Control */
    fragment@2 {
        target-path = "/";
        __overlay__ {
            backlight_zola: backlight_zola {
                compatible = "gpio-backlight";
                gpios = <&gpio3 20 0>; /* LCD_LED */
                default-on;
            };
        };
    };

    /* Fragment 3: SPI1 controller and device nodes */
    fragment@3 {
        target = <&spi1>;
        __overlay__ {
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;

            pinctrl-names = "default";
            pinctrl-0 = <
                &zola_spi1_pins
                &zola_lcd_gpio_pins
                &zola_touch_gpio_pins
            >;

            /delete-node/ channel@0;
            /delete-node/ channel@1;

            /* -------- LCD -------- */
            ili9488@0 {
                compatible = "ilitek,ili9488";
                reg = <0>;
                spi-max-frequency = <24000000>;
                cs-gpios = <&gpio3 18 1>;
                dc-gpios    = <&gpio2 12 0>; /* TFT_RS */
                reset-gpios = <&gpio0 13 1>; /* TFT_RST */
                backlight   = <&backlight_zola>;

                rotation = <270>;
                buswidth = <8>;
                width = <480>;
                height = <320>;
            };

            /* -------- Touch -------- */
            ads7846@1 {
                compatible = "ti,ads7846";
                reg = <1>;                         /* Chip Select 1 (C13) */
                spi-max-frequency = <2000000>;

                /* Touch GPIO Configuration */
                cs-gpios     = <&gpio3 19 1>;
                interrupt-parent = <&gpio2>;
                interrupts = <13 2>;            /* GPIO2_13, falling edge */
                pendown-gpio = <&gpio2 13 1>;   /* active low */

                ti,x-min = /bits/ 16 <200>;
                ti,x-max = /bits/ 16 <3900>;
                ti,y-min = /bits/ 16 <200>;
                ti,y-max = /bits/ 16 <3900>;
                ti,pressure-max = /bits/ 16 <255>;
                status = "okay";
            };
        };
    };
};

